<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!--
	This page demonstrates a form.
	-->
	<head>
		<meta charset="utf-8"/>
		<title>Demonstrating HTML forms</title>
	</head>
	<body>
		<h1>Turnitin</h1>
		<form ng-app="myApp" ng-controller="validateCtrl" name="myForm">
			<div>
				Name: <input type="text" ng-model="firstname" required>
			</div>
			<div>
				Student id: <input type="text" ng-model="id" required>
			</div>
			<div>
				Email: <input type="text" ng-model="mail" name="mail" ng-pattern="re" /><br />
        <span ng-show="mailForm.mail.$error.pattern" style="color:red">Please enter correct email address.</span>
			</div>
			<div>
				Assignment: <input type="text" ng-model="assignment">
			</div>
			<div>
				Code: <input type="text-area" ng-model="code">
			</div>
			<div>
				Cheat: <input type="checkbox" ng-model="cheat">
			</div>
			<div>
				Pay:
			<input type="radio" ng-model="pay" value="visa">Visa
			<input type="radio" ng-model="pay" value="paypal">Paypal
			<input type="radio" ng-model="pay" value="mastercard">Mastercard
			</div>
			<div>
				Score:
			<select ng-model="score">
    	<option value="">
    	<option value="4">4
    	<option value="5">5
    	<option value="6">6
    	<option value="7">7
    	<option value="8">8
    	<option value="9">9
    	<option value="10">10
			</select>
			</div>
			<input type="submit" />
		</form>
		<a href="http://jigsaw.w3.org/css-validator/check/referer">Validate</a>

		<script>
		var app = angular.module('myApp', []);
		app.controller('validateCtrl', ['$scope', function ($scope) {
        $scope.mail = "visrosoftware@gmail.com";
        $scope.re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    }]);
		</script>
	</body>
</html>